:root {
    --primary-color: #2e2d2d;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --gold-color: #ffc000; 
    --gap: 14rem;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

a {
    text-decoration: none;
} 

p {
    margin-bottom: 3rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1rem;
}
.main-bg {
    background-image: url('../img/main_img.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}
.white-bg {
    background: var(--white-color);
}
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}
.section {
    min-height: 100vh;
    color: var(--white-color);
}
.menu {
    background: var(--white-color);
    padding-top: 1rem;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom:0.1rem solid var(--gold-color) ;
    font-family: 'Open Sans', sans-serif;
    z-index: 999;
    position: fixed;
}
.menu-spacing {
    height: 11.8rem;
}
.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-left: 0;
    padding: 0;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a {
    display: block;
    padding: 2rem;
    color: var(--primary-color);
    position: relative;
}
.menu img {
    display: block;
    width: 30rem;
    padding: 0 0 1rem;
}
.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--gold-color);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}
.home-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    /* top: -5.0rem; */
    align-items: center;
    gap: var(--gap);
    min-height: 100vh;
}
.home-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.home-text-content h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-shadow: 0.1rem 0.1rem 0.2rem #000000;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
}
.home-hello {
    color: var(--primary-color);
    background: var(--white-color);
    border-radius: 1.0rem;
    text-shadow: none;
}
.home-name {
    display: flex;
    font-family: 'Roboto Mono';
    color: var(--gold-color);
    text-shadow: 0.1rem 0.1rem 0.2rem var(--black-color);
}
.home-social {
    display: inline-flex;
    justify-content: space-evenly;
    width:70vh;
}
.home-social img {
    display: flex;
    width: 5rem;
    border: 0.4rem outset var(--gold-color);
    box-shadow: 0.1rem 0.1rem 1rem var(--black-color);
    border-radius: 50% 50%;
    background: var(--white-color);
}
.home-img img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 60%;
    position: relative;
    margin: 20.0rem;
    border: 1.0rem outset var(--gold-color);
    outline: 0.5rem solid var(--white-color);
    box-shadow: 0.5rem 0.5rem 4rem var(--black-color);
    border-radius: 50% 50%;
    outline-offset:1rem;
}
.about {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: var(--primary-color);
    min-height: 100vh;
    
}
.about p {
    margin-bottom: 1rem;
}
.about ul li {
    margin: 1rem 4rem;
    font-size: 1.6rem;
}
.about h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
}
.about h5 span{
    font-family: 'Robot Mono';
}
.about h5 img {
    width: 2rem;
}
.map {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem; 
}
.grid-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
 }
.grid {
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(3, 1fr);
    
}
.gallery-img {
    width: 100%;
    max-width: 30rem;
    max-height: 50rem;
    overflow: hidden;
    border: 4rem solid var(--gold-color);
}
.gallery-img h5{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    color: #2E2D2D;
    background: var(--gold-color);
}
.gallery-img img{
    width: 100%;
    height: 100%;
    max-width: 30rem;
    max-height: 50rem;
    transition: all 300ms ease-in-out;
}    
.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(3deg);
} 
.blog {
    display: flex;
    flex-flow: column wrap;
    color: var(--primary-color);
    min-height: 100vh;    
}
.blog p {
    margin-bottom: 1rem;
    padding: 3rem;
}
.blog p span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.blog img {
    display: flex;
    justify-content: center;
    position: absolute;
    padding-top: 2rem;
}
.blog a {
    display: flex;
    justify-content: center;
}
.contact-form {
    grid-column: span 2;
}
.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.form-group {
    flex: 1 1 32rem;
}
.form-group label {
    display: block;
    margin-bottom: 1rem;
    color: var(--gold-color);
    text-shadow: 0.5rem 0.5rem 4rem var(--white-color);
}
.form-group input, .form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
}
.form-group input:focus, .form-group textarea:focus {
    box-shadow: 0rem 0rem 1rem 0.5rem var(--gold-color);
}
body .full-width {
    width: 100%;
    flex: 1 1 100%;
}
.form-group button {
    margin-top: 30rem;
}
.form-grid legend {
    font-style: italic;
    font-size: 5rem;
    color: var(--gold-color);
    text-shadow: 0.5rem 0.5rem 4rem var(--white-color);
    margin-bottom: 3rem;
}
#footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem;
    font-size: 1.5rem;
    
}
.powered {
    text-align:left;
    height: 2rem;
}
.made {
    text-align: end;
    height: 2rem;
}
.year {
    text-align: center;
    height: 2rem;
}

.close-menu {
    display: none;
}
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--gold-color);
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align:center;
    border-radius: 50%;
    cursor: pointer;
    color: var(--primary-color);
}
/* Botão */

.button-resume {
    height: 100%;
    display: flex;
    transform: translate(0%, -80%);
    align-items: center;
    justify-content: center;
    
}
.button {
    min-width: 200px;
    min-height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: var(--primary-color);
    background: var(--gold-color);
    background: linear-gradient(90deg, rgba(255,192,0,1) 0%, rgba(255,192,0,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(255,192,0,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
}
  
button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #FFC000;
    box-shadow: 0 0 60px rgba(255,192,0,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
  
.button:hover, .button:focus {
    color: var(--primary-color);
    transform: translateY(-6px);
}
  
button:hover::before, button:focus::before {
    opacity: 1;
}
  
button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #FFC000;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}
  
button:hover::after, button:focus::after {
    animation: none;
    display: none;
}
  
@keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
}
@media (max-width: 800px) {
    .home-content, .grid {
        grid-template-columns: 1fr;
    }
    .gallery-img, .map {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .home-text-content {
        display: flex;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .home-img img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 7rem;
    }
    .home-social {
        display: flex;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    .gallery-img img {
        width: 100%;
        max-width: 100%;
        max-height: 100%
    }

    .grid-content {
        display: block;
    }

    .menu {
        bottom: 0;
        text-align: center;
    } 
    .menu-content, .home-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-content {
        height: 100vh;
    }
    .menu {
        display: none;
    }
    .close-menu {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .close-menu-label::after {
        content: '㊂';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--white-color);
        border-radius: 50%;
        font-size: 3.8rem;
        width: 5rem;
        height: 5rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .close-menu:checked~.menu {
        display: block;
    }
    .main-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem; 
    }

}